.Input__main {
    .Input {
        border: 1px solid white;
        font-size: 15pt;
        margin: 10px;
        border-radius: 5px;
        padding: 10px;
        background: transparent;
        color: white;
    }
}